{% extends "base.html" %}

{% block content %}
{% comment %}
TODO: upravit vzhled
{% endcomment %}
<!-- TODO test -->
<div class="movie-details">
    <h1>{{ movie.title|upper }}</h1>
    <p>Žánr: 
        {% for genre in movie.genre.all %}
            {{ genre }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Rating: {{ movie.rating }}</p>
    <p>Released: {{ movie.released|date:"j. n. Y" }}</p>
    <p>Krajina: 
        {% for country in movie.country.all %}
            {{ country }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Herci: 
        {% for creator in movie.actors.all %}
            {{ creator }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Režíroval: 
        {% for creator in movie.directors.all %}
            {{ creator }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Popis: {{ movie.description }}</p>
    {% if user.is_authenticated %}
        <a href="{% url 'movie_update' movie.id %}">Update</a>
        <a href="{% url 'movie_delete' movie.id %}">Delete</a>
    {% endif %}
</div>
{% endblock %}